# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\yuhan\Documents\Uni3\LOG3210-Langage et compilateur\LOG3210-Lab\TP3_Source\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
